.conteiner{
    width: auto;
    height: 100%;
    padding:25px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
}
.logo{
    width: 110px;
    height: 120px;
    margin: 0;
    padding-left: 250px;
    
}
.login{
    float: right;
    padding-left: 100px;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    padding-left: 20px;
    font-size: small;
}
ul{
    padding: 0px;
    padding-right: 65px;
}
.caixa{
    background-color: black;
    border: solid 1px;
    border-radius: 0px;
    width: 565px;
    height: 40px;
    padding-left: 50px;
    position: relative;
}
#txt{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    border: none;
    width: 250px;
    padding: 10px 40px 5px 0px;
}
.lupa{
    float: right;
    background-color: white;
    margin-top: 3px;
    margin-right: 3px;
    height: 34px;
    width: 34px;
}
.zap2{
    padding-left: 20px;
}
.carro{
    height: 29px;
    width: 29px;
    padding-bottom: 29px;
}
.conteinerP{
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 0;
    position: absolute;
    display: flex;

}
.oferta{
    font-size: medium;
    height: 50px;
    color: white;
    text-align: center;

}
.promo{
      height: 40px;
      float: left;
      margin-right: 5px;
      text-align: center;
}

.promo1{
    padding-left: 35px;
    height: 40px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.promo2{
    padding-left: 35px;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.promo3{
    padding-left: 35px;
    height: 40px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.subir{
    padding: 0px 34.5px 0px;
}
.imagemc{
    width: auto;
    padding: 0;
    margin: 0;
}
.baixo{
    display: flex;
   padding-left: 250px;
   color: black;
   background-color: white;
}

.baixo2{
    padding-right: 100px;
}
.cima{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.baixob{
    color: black;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.cad:hover{
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.lup:hover{
    cursor: pointer;
}

.num{
    color: #8C4D18;
}
.num:hover{
    color: black;
    cursor: pointer;
}

.carro:hover{
    cursor: pointer;
}

.oferta:hover{
    color: #8C4D18;
    text-decoration: overline;
    cursor: pointer;
}
.promo:hover{
    color: #8C4D18;
    text-decoration: overline;
    cursor: pointer;
}

.promo1:hover{
    color: #8C4D18;
    text-decoration: overline;
    cursor: pointer;
}

.imagemc:hover{
    cursor: pointer;
}
.baixo2{
    display: flex;
}

.baixo2:hover{
    transition: transform 0.2s ease-in-out;
    transform: translateY(-5px);
}

.logo:hover{
    cursor: pointer;
}

.icones:hover{
    color: #8C4D18;
    text-decoration: overline;
    cursor: pointer;
}

.cartao{
    margin-top: 12px;
}

.fiscal{
    margin-top: -12px;
}

.baixinho{
    margin-top: 5px;
}

.central{
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 0;
}

.bode{
    margin: 0;
    display: inline-block;
}
.lupa2{
    position: absolute;
}
#rodape{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.erro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(touro.jpg);
    color: #af1111;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    width: 500px;
    height: 500px;
}   
.testeDialog{
    left: 50%;
    bottom: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    position: absolute;
    display: none;
    background-color: beige;
}
#meubotao{
    width: 8%;
    left: 50%;
}

.titlebar{
    clear: both;
    margin: 0 0 55px;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
}
.post{
    display: inline-block;
    font-family:   Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 650;
    padding: 60px;
}
#ttbar{
    clear: both;
    font-family: "Montserrat",sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 1;
    margin: 0 0 0px;
    padding: 0px 15px;
    color: #000;
    width: auto !important;
    float: none;
    display: inline-block;
    background: #fff;
}
@media  screen and (max-width: 960px){
    .conteiner{  
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    }
    .zap2{
        display: none;
    }
    .carro{
        display: none;
    }
    .zap{
        display: none;
    }
    .conteinerP{
        display: none;
    }
    .imagemc{
        display: none;
    }

    .baixo{
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.lup{
    width: 27px;
    height: 27px;
    padding: 4px;
    position: absolute;
}
.selopromo{
    margin-bottom: 10px;
    margin-top: -3px;

}
.bota{
    margin-bottom: 10px;
    margin-top: -1px;

}
.chapeu{
    margin-bottom: 10px;
    margin-top: 0px;
}
.cavalinho{
    margin-top: -7px;
    left: -3px;
    position: relative;

}
.bonee{
    margin-bottom: 10px;
    margin-top: -5px;
    position: relative;
    left: -9px;
}
.chapeleta{
    margin-bottom: 10px;
    margin-top: -2px;

}
.botaM{
    margin-bottom: 10px;
    margin-top: -7px;

}
.horse{
    margin-top: -1px;

}
.facaa{
    margin-top: -1px;
}
img {
    max-width: 500%;
            
}

.sublinhado {
    background-color: yellow;
}